@model CRUD_PersonasDef_ASP.Models.clsPersonaConDepartamento

<h1>Borrar persona</h1>

<h3>¿Seguro qué quieres eliminar la siguiente persona?</h3>
<div>
    <h4>clsPersona</h4>
    <hr />
    <dl class="row">
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class="col-sm-10"> 
             <img src="@Model.Foto" width="100" height="100"/>
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDepartamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreDepartamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
       
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Borrar"  class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
