@model IEnumerable<CRUD_PersonasDef_ASP.Models.clsPersonaConDepartamento>
<h1 style="color:red"> @ViewBag.mensajeNegativo </h1>
<h1 style="color:green"> @ViewBag.mensajePositivo </h1>
<p>
    <a asp-action="Create">Añadir nueva persona</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.NombreDepartamento)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.Foto" width="100" height="100"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @item.FechaNacimiento.ToString("d")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.NombreDepartamento)
            </td>
            
            <td>
                @Html.ActionLink("Actualizar", "Update", new {  id=item.Id }) |
                @Html.ActionLink("Detalles", "Details", new {   id=item.Id }) |
                @Html.ActionLink("Borrar", "Delete", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
